<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-wNj-x78Nwpy_V-RTym6zK4ntQt-cmsg</string>
	<key>GCM_SENDER_ID</key>
	<string>101206721106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pewterApp</string>
	<key>PROJECT_ID</key>
	<string>project-7eb26</string>
	<key>STORAGE_BUCKET</key>
	<string>project-7eb26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101206721106:ios:61d1a9142e9ef14b2b158b</string>
</dict>
</plist>